body{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: cornflowerblue;
    font-size: 15px;
}

.calculator {
    margin-top: 20px;
    border: 5px solid black;
    border-radius: 15px;
    height: 450px;
    width: 290px;
    background-color: gray;  
}

.display{
    margin: 12px 14px 12px 14px;
    display: grid;
    border: 5px solid black;
    border-radius: 15px;
    height: 150px;
    width: 250px;
    background-color:white; 
}

.firstDisplay{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 30px;
}

.secondDisplay{
    display: flex;
    justify-content: flex-end;
    align-items: flex-end;
    font-size: 35px;
}

.buttons{
    display: grid;
    justify-content: center;
}

.btn{  
    height: 50px;
    border: 5px solid black;
    width: 60px;  
    border-radius: 15px;
    font-size: 20px;
}

.fifthRow{
    display: flex;
}

#dotBtn{
    margin: 0 3px 0 4px;
}

#enterBtn{
    flex-grow:2;
}